div {
	background-color: gray;
    padding: 10px;
    width: 90vw;
    height: 50vw
}
#innerDiv {
    height: 48px
}
div svg {
	width: 100%;
	height: 100%;
}
figure svg {
	background-color: pink;
}
figure svg circle {
	fill: salmon;
}
figure svg text {
	fill: yellow;
}
